
body{
  margin:0;
}
   a {
     color:black;
     text-decoration: none;
   }
   .saw {
     color:gray;  //클래스선택자
   }
   #active {
     color:red; // 샵이 아이디선택자. 보다 가까운 명령이 먼저 영향을 미친다.
   }
   h1 {
     font-size:45px; text-align: center;
     border-bottom:1px solid gray;
     margin:0;
     padding:20px;

   }

   ol{
     border-right:1px solid gray;
     width: 100px; margin: 0px;
     padding:20px;
   }
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{
  padding-left:33px;
}
#grid #article{
  padding-left:25px;
}
@media(max-width:800px) {
  #grid{
    display: block;

  }
  h1 {

      border-bottom:none;

    }

    ol{
      border-right:none;
    }
